<form [ngClass]="styleClass" [formGroup]="deckForm" (submit)="startGame()">
	<div class="form-group mr-2">
		<select class="form-control" id="deck" required formControlName="deck" name="deck">
			<option *ngFor="let even of cardService.evens" [value]="even.value">{{ even.value }}</option>
		</select>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-sm btn-outline-dark" [disabled]="!deckForm.valid">New game</button>
	</div>
</form>
